@import 'variaveis.scss';


.banner{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: start;
    background: $bg-banner;
    margin-top: 80px;
    width: 90%;
    box-shadow: 1px 1px 35px #000;
    height:auto;
    border-radius: 25px;
}

.hashtag{
    background-color: $bg-button-hashtag;
    width: 150px;
}

h1{
    text-shadow: 2px 2px 1px  #000;
}

.banner-text{
    width: 100%;
    height: 100%;
    padding: 50px;
    display: flex;
    align-items: start;
    flex-direction: column;
}

.banner-text > *{
    margin-bottom: 50px;
}

.color-text{
    color: $color-text;
}

.btn{
    background-color: $bg-btn;
}

button{
    padding: 10px;
    border-radius: 50px;
    border: none;
}

.start{
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1em;   
    cursor: pointer;
}

.start:hover{
    background-color: $bg-button-1;
}

.icon-start{
    color: $color-icon-start;
}

.banner-img{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: 20px;
}

.img{
    width: 100%;
}

@media(max-width: 999px){

    .banner{
        flex-direction: column;      
        width: 90%;
        margin-top: 100px;
        justify-content: center;
        align-items: center;
    }

}

@media(max-width: 600px){

    .start{
        width: 80%;
    }
}

    @media(max-width: 468px){

        .banner-text{
            padding: 15px;
        }

        .banner-text > *{
            margin-bottom: 20px;
        }
       
    }


