@import 'variaveis.scss';


.container-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    background: $bg-banner;
    margin-top: 80px;
    width: 90%;
    padding: 25px;
    box-shadow: 1px 1px 35px #000;
    height:auto;
    border-radius: 25px; 
}

.contact-section{
    display: flex;
    width: 100%;
    justify-content: center;
    border-radius: 25px;
    align-items: center;
}

.contact-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $color-links;
    line-height: 65px;
    font-size: 18px;
    width: 100%;
    height: 100%;
}

.contact-info i{
    font-size: 25px;
    color: $color-text;
    text-shadow: 2px 2px 1px  #000;
}

.contact-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.contact-info, .contact-form{
    flex: 1;
}

.contact-form h2{
    color: $color-text;
    font-size: 35px;
    margin-bottom: 30px;
    text-shadow: 2px 2px 1px  #000;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2em;    
    width: 80%;
}

.contact .text-box{
    background: rgba(63,33,130,0);
    color: #fff;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    width: 100%;
    height: 50px;
    padding: 12px;
    font-size: 15px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    opacity: 0.9;
    transition: all ease-in-out .6s;
}

.contact .text-box:focus{
    background: $bg-inputs;
    border-radius: 25px;
    height: 65px;
    font-weight: 900;
    font-size: 20px;
    transition: all ease-in-out .6s;
}

.contact textarea{
    background: rgba(63,33,130,0);
    color: #fff;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;  
    width: 100%;
    padding: 12px;
    font-size: 15px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    opacity: 0.9;
    resize: vertical;
    transition: all ease-in-out .6s;
}

.contact textarea:focus{
    background: $bg-inputs;
    border-radius: 40px;
    transition: all ease-in-out .6s;
    font-weight: 900;
    font-size: 20px;
}

.contact .send-btn{
    width: 80%;
    height: 50px;
    background: $bg-btn;
    cursor: pointer;
}

.contact .send-btn:hover{
    background: $bg-button;
}

@media (max-width:950px){

    body:last-child{
        margin-bottom: 15px;
    }

    .container-contact{
        padding: 1px;
    }

    .contact-section{
        flex-direction: column;
    }

    .contact-info i{
        font-size: 1em;
    }

    .contact-form h2{
        margin-top: 35px;
    }

    .contact{
        width: 90%;
    }

    .contact-form:last-child{
        margin-bottom: 15px;
    }

    .contact-section:first-child{
        margin-top: 25px;
    }
}

