@import 'variaveis.scss';

header{
    position: fixed;
    top: 0;
    right:0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5%;
}

.link-logo{
    display: flex;
    align-items: center;
}

.links{
    color: $color-links;
}

.link-logo:hover{
    font-weight: 900;
    color: $color-links-hover;
}

.img-logo{
    width: 70px;
    height: 70px;
}

.navbar{
    display: flex;
}

.navbar a{
    margin: 0 30px;
    padding: 7px;
    transition: all ease .2s;
    border-bottom: 1px solid $color-links;
}

.navbar a:hover{
    color: $color-links-hover;
    border: 6px solid $color-links-hover;
    font-weight: 900;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    padding: 10px;
}

.icon-menu{
    display: flex;
    align-items: center;
}

#icon-menu{
    z-index: 10001;
    margin-left: 5px;
    display: none;
    cursor: pointer;
    color: #ffffff;
}

.bg-color{
    background-color: $bg-nav-mobile;
}

//* media queries
@media(max-width: 1440){

    header{
        padding: 25px 5%;
    }

}

@media(max-width: 1170){

    header{
        padding: 20px 3%;
    }

    .navbar a{
        margin: 0 15px;

    }
}


@media(max-width: 670px){

    #icon-menu{
        display: block;
    }

    .navbar{
        position: absolute;
        width: 100%;
        height: 100vh;
        padding: 200px 50px;
        top: 0;
        left: 100%;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: $bg-nav-mobile;
        transition: all 0.5s ease-in-out;
    }

    .navbar a{
        display: block;
        padding: 0;
        margin: 0 0 50px 0;
        font-size: 1.5rem;
        font-weight: 500;
    }

    .navbar.open{
        left: 0;
    }
} 