//* variaveis
$bg-body: #13072e;
$bg-banner: linear-gradient(135deg, rgba(19,7,46,1) 10%, rgba(63,33,130,1) 64%);
$bg-button: #b3aaff;
$bg-logo: #efa9fa;
$color-links: #ffffff;
$color-links-hover: pink;
$color-text: #ffffff;
$color-icon-start: #13072e;
$bg-button-hashtag: #b3aaff;
$bg-btn: #ffffff;
$bg-nav-mobile: rgba(63,33,130,0.9);
$bg-contact: rgba(255,255,255,0.6);
$bg-icon-social: #13072e;
$bg-inputs: rgba(255,255,255,0.2);
