//* variaveis
$bg-body: #13072e;
$bg-banner: linear-gradient(135deg, rgba(19,7,46,1) 10%, rgba(63,33,130,1) 64%);
$bg-button-1: #b3aaff;
$bg-logo: #efa9fa;
$bg-navColor: #b3aaff;
$color-links: #ffffff;
$color-links-hover: pink;
$color-text: #ffffff;
$color-icon-start: #13072e;
$bg-button-hashtag: #b3aaff;
$bg-btn: #ffffff;